{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Mes ingrédient{% endblock %}

{% block body %}
    <div class="container mt-4">
      {% if not ingredients.items is same as([]) %}
        <h1>Mes ingrédients</h1>

        <a href="{{ path('ingredient.new') }}" class="btn btn-primary">Ajouter un ingrédient</a>

      {# read and display just one flash message type #}
      {% for message in app.flashes('success') %}
      <div class="mt-4 alert alert-success">
        {{ message }}
      </div>
      {% endfor %}

      {% for message in app.flashes('warning') %}
      <div class="mt-4 alert alert-warning">
        {{ message }}
      </div>
      {% endfor %}

          {# total items count #}
          <div class="mt-4 count">
            <h4>
              Il y a
              {{ ingredients.getTotalItemCount }}
              éléments au total.
            </h4>
          </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Numéro</th>
              <th scope="col">Nom</th>
              <th scope="col">Prix</th>
              <th scope="col">Date de création</th>
              <th scope="col">Edition</th>
              <th scope="col">Suppression</th>
            </tr>
          </thead>
          <tbody>
            {% for ingredient in ingredients %}
            <tr class="table-primary">
              <th scope="row">{{ ingredient.id }}</th>
              <td>{{ ingredient.name }}</td>
              <td>{{ ingredient.price }}</td>
              <td>{{ ingredient.createdAt|date("d/m/Y") }}</td>
              <td>
                <a
                  href="{{ path('ingredient.edit', {'id': ingredient.id}) }}"
                  class="btn btn-info">Modifier</a>
              </td>
              <td>
                <a
                  href="{{ path('ingredient.delete', {'id': ingredient.id}) }}"
                  class="btn btn-warning">Supprimer</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {# display navigation #}
        <div class="mt-4 navigation d-flex justify-content-center" >
            {{ knp_pagination_render(ingredients) }}
        </div>
      {% else %}
        <h4>Pas d'ingrédient</h4>
      {% endif %}
    </div>
{% endblock %}
