{% extends "base.html.twig" %}

{% block title %}
  SymRecipe - Accueil
{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur SymRecipe</h1>
    <p class="lead">SymRecipe est un site de recettes</p>
    <hr class="my-4">
    <p>Pour commencer, veuillez vous rendre sur la page d'inscription</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </div>

  <div class="recipe">
    <h2 class="mt-4">Recettes de la communauté</h2>

    <div class="flex-wrap d-flex justify-content-between">
      {% for recipe in recipes %}
      <div class="mb-3 card border-primary" style="max-width: 20rem;">
        <div class="card-header">Recette n°{{ recipe.id }}</div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{{ path('recipe.show', {id: recipe.id}) }}">{{ recipe.name }}</a>
          </h4>
          <p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
