{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Recettes de la communauté
{% endblock %}

{% block body %}
<div class="container mt-4">
  {% if not recipes.items is same as([]) %}
  <h1>Recettes de la communuaté</h1>

  <div class="flex-wrap d-flex justify-content-center">
    {% for recipe in recipes %}
    <div class="mb-3 card border-primary" style="max-width: 20rem;">
      <div class="card-header">Recette n°{{ recipe.id }}</div>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ path('recipe.show', {id: recipe.id}) }}">{{ recipe.name }}</a>
        </h4>
        <p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  {% else %}
  <h4>Il n'y a pas de recettes</h4>
  {% endif %}
</div>
{% endblock %}
