{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Mes recettes{% endblock %}

{% block body %}
    <div class="container mt-4">
      {% if not recipes.items is same as([]) %}
        <h1>Mes recettes</h1>

        <a href="{{ path('recipe.new') }}" class="btn btn-primary">
          Nouvelle recette
        </a>

<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━-->
        {# read and display just one flash message type #}
        {% for message in app.flashes('success') %}
          <div class="mt-4 alert alert-success">
            {{ message }}
          </div>
        {% endfor %}

<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━-->
        {# total items count #}
        <div class="mt-4 count">
          <h4>
            Il y a
            {{ recipes.getTotalItemCount }}
            éléments au total.
          </h4>
        </div>


        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Numéro</th>
              <th scope="col">Nom</th>
              <th scope="col">Prix</th>
              <th scope="col">Difficulté</th>
              <th scope="col">Date de création</th>
              <th scope="col">Edition</th>
              <th scope="col">Suppression</th>
            </tr>
          </thead>
          <tbody>
            {% for recipe in recipes %}
              <tr class="table-primary">
                <th scope="row">{{ recipe.id }}</th>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.price is null ? 'Non renseigné' : recipe.price }}</td>
                <td>{{ recipe.difficulty is null ? 'Non renseigné' : recipe.difficulty }}</td>
                <td>{{ recipe.createdAt|date("d/m/Y") }}</td>
                <td>
                  <a
                    href="{{ path('recette.edit', {'id': recipe.id}) }}"
                    class="btn btn-info">Modifier</a>
                </td>
                <td>
                  <a
                    href="{{ path('recette.delete', {'id': recipe.id}) }}"
                    class="btn btn-info">Supprimer</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {# display navigation #}
        <div class="mt-4 navigation d-flex justify-content-center" >
            {{ knp_pagination_render(recipes) }}
        </div>
      {% else %}
        <h4>Pas de recttes</h4>
      {% endif %}
    </div>
    {% endblock %}
