{% extends 'base.html.twig' %}


{% block title %}
SymRecipe - {{ recipe.name }}
{% endblock %}

{% block body %}
<div class="container">

<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━-->
        {# read and display just one flash message type #}
        {% for message in app.flashes('success') %}
          <div class="mt-4 alert alert-success">
            {{ message }}
          </div>
        {% endfor %}

<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━-->

  <h1 class="mt-4">{{ recipe.name }}</h1>

  <p>La moyenne de cette recette de : {{ recipe.average|number_format(2, '.', ',') }} / 5.</p>

  <div class="badge bg-primary">Créé le : {{ recipe.createdAt|date('d/m/Y') }}</div>

  <p>Temps (en minutes) : {{ recipe.time }}</p>
  <p>Pour {{ recipe.nbPeople }} personne(s)</p>
  <p>Difficulté : {{ recipe.difficulty }} / 5</p>
  <p>Prix (en €) : {{ recipe.price }}</p>
  <div class="mt-4">
    {{ recipe.description|raw }}
  </div>


  <p class="mt-4">Ingrédients</p>
  {% for ingredient in recipe.ingredients %}
  <div class="badge bg-primary">{{ ingredient.name }}</div>
  {% endfor %}

  <div class="mark">
    {{ form(form)}}
  </div>
</div>

{% endblock %}
