{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Modification de l'utilisateur{% endblock %}

{% block body %}
    <div class="container">
<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━-->
        {# read and display just one flash message type #}
        {% for message in app.flashes('warning') %}
          <div class="mt-4 alert alert-warning">
            {{ message }}
          </div>
        {% endfor %}
<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━-->
       <h1 class="mt-4">Formulaire de modification des informations utilisateur</h1>

       {{ form(form) }}

    </div>
{% endblock %}
