{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Connexion{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Formulaire de connexion:</h1>

    {# read and display just one flash message type #}
    {% for message in app.flashes('success') %}
      <div class="mt-4 alert alert-success">
        {{ message }}
      </div>
    {% endfor %}

    {% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}


    <form action="{{ path('security.login') }}" method="post" >
        <div class="form-group">
            <label for="username" class="mt-4 form-label">Email:</label>
            <input type="email"
                class="form-control"
                id="username"
                name="_username"
                placeholder="user@symrecipe.fr"
                value="{{ last_username }}"
            >
        </div>
        <div class="form-group">
            <label for="password" class="mt-4 form-label">Mot de passe:</label>
            <input type="password"
                class="form-control"
                id="password"
                name="_password"
                placeholder="password"
            >
        </div>

        <button type="submit" class="mt-4 btn btn-primary">Se connecter</button>
    </form>
</div>
{% endblock %}
