{% extends "base.html.twig" %}

{% block title %}SymRecipe - Inscription{% endblock %}

{% block body %}
<div class="container">
  <h1 class="mt-4">Inscription</h1>

  {{ form(form)}}
</div>

{% endblock %}
